# === OS-Specific Junk ===
.DS_Store
Thumbs.db

# === Jupyter Notebooks ===
.ipynb_checkpoints/
*.ipynb~  # temporary/backup versions of notebooks

# === Virtual Environments ===
*.env
*.env.*

# === Temp database and logs ===
/data/chroma_db/
/data/processed_files.txt
*.log
*.bin

extract.py